In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df=pd.read_csv('C:\\RG  11.05.2019\\ML\\Movie\\Movie_regression.csv',header=0)

In [3]:
import matplotlib.pyplot as plt

In [4]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 67.3+ KB

In [6]:
df.isnull().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
dtype: int64

In [7]:
#Treating Missing Values

In [8]:
df['Time_taken'].mean()

157.3914979757085

In [9]:
df['Time_taken'].fillna(value=df['Time_taken'].mean(), inplace=True)

In [10]:
df.isnull().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
dtype: int64

In [11]:
#Missing Values Filled with Mean

In [12]:
#Treating Categorical Values

In [13]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [14]:
df=pd.get_dummies(df, columns=['3D_available','Genre'], drop_first=True)

In [15]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [16]:
X=df.loc[:, df.columns!='Collection']
print(X)

Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views  Time_taken  \
0              7.995           7.94         527367      109.60
1              7.470           7.44         494055      146.64
2              7.515           7.44         547051      147.88
3              7.020           8.26         516279      185.36
4              7.070           8.26         531448      176.48
..               ...            ...            ...         ...
501            8.970           6.80         492480      186.96
502            8.930           7.80         482875      132.24
503            9.010           7.80         532239      109.56
504            8.845           6.80         496077      158.80
505            8.790           6.80         518438      205.60

     Twitter_hastags  Avg_age_actors  Num_multiplex  3D_available_YES  \
0            223.840              23            494                 1
1            243.456              42            462                 0
2           2022.400              38            458                 0
3            225.344              45            472                 1
4            225.792              55            395                 0
..               ...             ...            ...               ...
501          243.584              27            561                 0
502          263.296              20            600                 1
503          243.824              31            576                 0
504          303.520              47            607                 1
505          203.040              45            604                 1

     Genre_Comedy  Genre_Drama  Genre_Thriller
0               0            0               1
1               0            1               0
2               1            0               0
3               0            1               0
4               0            1               0
..            ...          ...             ...
501             0            0               0
502             0            0               0
503             1            0               0
504             1            0               0
505             1            0               0

[506 rows x 19 columns]

In [17]:
Y = df['Collection']
print(Y)

0      48000
1      43200
2      69400
3      66800
4      72400
       ...
501    44800
502    41200
503    47800
504    44000
505    38000
Name: Collection, Length: 506, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=0, test_size=0.2)

In [20]:
from sklearn import tree
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [21]:
regtree.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=3)

In [22]:
y_pred=regtree.predict(x_test)

In [23]:
y_pred

array([ 46187.35632184, 100000.        ,  46187.35632184,  23514.28571429,
        46187.35632184,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  23514.28571429,  23514.28571429,
        23514.28571429,  23514.28571429,  91860.86956522,  65183.33333333,
        46187.35632184,  65183.33333333,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184, 100000.        ,  46187.35632184,  35137.77777778,
        91860.86956522,  35137.77777778,  23514.28571429,  23514.28571429,
        46187.35632184,  46187.35632184,  46187.35632184,  35137.77777778,
        23514.28571429, 100000.        ,  23514.28571429,  23514.28571429,
        46187.35632184,  46187.35632184,  46187.35632184,  23514.28571429,
        46187.35632184,  46187.35632184,  35137.77777778,  35137.77777778,
        35137.77777778,  46187.35632184,  35137.77777778,  35137.77777778,
        46187.35632184,  91860.86956522,  35137.77777778,  35137.77777778,
        46187.35632184,  46187.35632184, 100000.        ,  35137.77777778,
        46187.35632184,  46187.35632184,  65183.33333333,  46187.35632184,
        23514.28571429,  46187.35632184,  35137.77777778,  35137.77777778,
        65183.33333333,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184,  65183.33333333,  46187.35632184,  23514.28571429,
        91860.86956522,  46187.35632184,  46187.35632184,  35137.77777778,
        46187.35632184,  46187.35632184,  23514.28571429,  91860.86956522,
        91860.86956522,  46187.35632184,  46187.35632184,  23514.28571429,
        46187.35632184,  35137.77777778,  35137.77777778,  23514.28571429,
        46187.35632184,  65183.33333333,  46187.35632184,  46187.35632184,
        23514.28571429,  46187.35632184,  35137.77777778,  46187.35632184,
        46187.35632184,  46187.35632184])

In [24]:
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
mean_squared_error(y_test, y_pred)

139740942.91784033

In [26]:
r2_score(y_test, y_pred)

0.5659203159203307

In [27]:
dot_data = tree.export_graphviz(regtree, out_file=None)

In [28]:
from IPython.display import Image

In [29]:
import pydotplus

In [30]:
graph = pydotplus.graph_from_dot_data(dot_data)

In [31]:
Image(graph.create_png())

InvocationException: GraphViz's executables not found