In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sb 
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Movie_classification.csv')

In [6]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [7]:
df.isnull().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

Time taken has NULL values

In [8]:
df['Time_taken'].fillna(value=df['Time_taken'].mean(), inplace=True)

In [9]:
df.isnull().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

In [10]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [11]:
df=pd.get_dummies(df,columns=['Genre','3D_available'], drop_first=True)

In [12]:
X=df.loc[:,df.columns!='Start_Tech_Oscar']

In [13]:
print(X.shape)

(506, 20)

In [14]:
Y=df['Start_Tech_Oscar']

In [15]:
print(Y)

0      1
1      0
2      1
3      1
4      1
      ..
501    0
502    0
503    0
504    0
505    0
Name: Start_Tech_Oscar, Length: 506, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=0, test_size=0.2)

In [18]:
from sklearn import tree

In [19]:
caltree = tree.DecisionTreeClassifier(min_samples_leaf=50 ,max_depth=5)

In [20]:
caltree.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=50)

In [21]:
y_pred=caltree.predict(x_test)

In [22]:
print(y_pred)

[0 1 0 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 0 0 1 1 1 0 0 1 0 1 1 1 0 0 1 0
 1 0 0 0 1 1 1 1 1 1 1 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1
 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 1 1 0 1 1 1 0]

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [24]:
accuracy_score(y_test,y_pred)

0.5882352941176471

In [25]:
print(metrics.confusion_matrix(y_test, y_pred))

NameError: name 'metrics' is not defined

Using Bagging Classifier

In [26]:
from sklearn.ensemble import BaggingClassifier

In [36]:
caltree1=tree.DecisionTreeClassifier()
bag_clf=BaggingClassifier(base_estimator=caltree1, n_jobs=-1, n_estimators=2000,bootstrap=True,random_state=1)

In [37]:
bag_clf.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=10000,
                  n_jobs=-1, random_state=1)

In [38]:
accuracy_score(bag_clf.predict(x_test),y_test)

0.6274509803921569

Using Random Forest Classification

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
ran_clf=RandomForestClassifier(n_jobs=-1, random_state=1, n_estimators=3000)

In [50]:
ran_clf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=3000, n_jobs=-1, random_state=1)

In [51]:
accuracy_score(y_test,ran_clf.predict(x_test))

0.6274509803921569

Using GradientBoosting Classification

In [52]:
from sklearn.ensemble import GradientBoostingClassifier

In [61]:
gra1=GradientBoostingClassifier(n_estimators=1000, learning_rate=0.02, max_depth=3)

In [62]:
gra1.fit(x_train,y_train)

GradientBoostingClassifier(learning_rate=0.02, n_estimators=1000)

In [63]:
accuracy_score(y_test,gra1.predict(x_test))

0.5588235294117647

Using Adaboosting Classification

In [64]:
from sklearn.ensemble import AdaBoostClassifier

In [69]:
ada = AdaBoostClassifier(learning_rate=0.02, n_estimators=2000)

In [70]:
ada.fit(x_train,y_train)

AdaBoostClassifier(learning_rate=0.02, n_estimators=2000)

In [71]:
accuracy_score(y_test,ada.predict(x_test))

0.5784313725490197